.content {
  padding: 32px;
  background: #fffdfd;
  min-height: 100vh;
  margin-left: 223px;
  transition: all 0.5s ease;
}

.content.active {
  margin-left: 0px;
}

td {
  font-size: 12px;
}

th {
  font-size: 12px;
}

label {
  font-size: 14px;
}

a.btn {
  font-size: 8px;
  margin-left: 10px;
}

.sidebarCollapseMobile.btn {
  font-size: 15px;
}

.btn-delete {
  font-size: 7px;
  margin-left: 10px;
  border: none;
  padding: 5px;
  background-color: #d80505;
  color: #fff;
  border-radius: 4px;
}

button.btn {
  font-size: 8px;
}

input::placeholder {
  font-size: 11px;
}


@media (max-width: 480px) {
  a.btn {
    display: flow-root;
    padding: 5;
    font-size: 5px;
    margin-bottom: 5px;
  }
}